body {

color: green;
font-family: Verdana, Arial, Geneva, Arial Black;
font-weight: normal;
background-color: #ffcf79;
font-size: 15px;


}

h1 {

text-decoration: underline;
font-size: 150%;
text-align: center;
}

h2 {

text-decoration: underline;
font-size: 1.2em;
text-align: center;

}
/*/////////////////////used in stripes////////////////////////////////////////*/
li {
  float: left;
  list-style: none;
  margin: 2px;
}
li a {
  background: linear-gradient(#fff, #eee);
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  padding: 3px;
}
li a:hover {
  border-color: #999;
}
li span {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/sprite.png") 0 0 no-repeat;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 16px;
  width: 16px;
}
.italic {
  background-position: -16px 0;
}
.underline {
  background-position: -32px 0;
  
}
.size {
  background-position: -48px 0;
}
.bullet {
  background-position: -64px 0;
}
.number {
  background-position: -80px 0;
}
.quote {
  background-position: -96px 0;
}
.left {
  background-position: -112px 0;
}
.center {
  background-position: -128px 0;
}
.right {
  background-position: -144px 0;
} 
/*/////////////////////used in stripes////////////////////////////////////////*/
/*image data url */
.pattern {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAO6m73+X/bdxogujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQAyIyYy0nBAGgAAAABJRU5ErkJggg==") repeat;
  height: 100px;
}

p.para1 {

color: blue;

}

p.para2 {

color: purple;


}

p.para3 {

color: purple;
font-size: 15px;
line-height: 1.5em;
background-color: #e5e4d7;
padding: 20px;
border-color: green;
border-width: 2px;
border-style: solid;
margin: 10px;

}﻿
img{
  height: 200px;
  width: 200px;
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: right;
  margin: 8px 0 0 20px;
  padding: 4px;
      background-position: center;
        float: right;


}
._3BTv9X {

    height: 200px;
    width: 200px;
    
}

.video{
	height: 200px;
	width: 200px;
    position: all;

}
 